main {
  margin: 0px auto;
  padding: 0.25rem;
  max-width: 860px;

  & > h1 {
    text-align: center;
    font-size: 2.4rem;

    @media (min-width: 480px) {
      font-size: 3rem;
    }
  }
}

#car-grid {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;

  & > div {
    width: 14rem;
    padding: 1rem;
    border: 1px solid var(--color-border-alt);
    border-radius: 1rem;

    & > img {
      max-width: 100%;
    }

    & > h3 {
      font-size: 1.4rem;
      font-weight: 600;
    }

    & > a {
      appearance: button;
      text-decoration: none;
      vertical-align: middle;
      margin: 0.5rem auto 0px auto;
      width: 100%;
      text-align: center;
      font-size: 1.4rem;

      @media (min-width: 480px) {
        font-size: 1.8rem;
      }
    }
  }
}
