main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;

    @media (min-width: 480px) {
      font-size: 3rem;
    }
  }
}

.accordion-title {
  font-size: 1.6rem;
  @media (min-width: 720px) {
    font-size: 2rem;
  }
}
.accordion-content {
  font-size: 1.2rem;
  @media (min-width: 720px) {
    font-size: 1.6rem;
  }

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 3fr;
  grid-template-areas:
    'info0'
    'info1'
    'info2'
    'info3'
    'btn';

  @media (min-width: 720px) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'info0 .'
      'info1 btn'
      'info2 btn'
      'info3 .';
  }

  button {
    grid-area: btn;
    font-size: xx-large;
  }
}

#history-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
