main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.accordion-title {
  font-size: 1.6rem;
  @media (min-width: 720px) {
    font-size: 2rem;
    
  }
}
.accordion-content {
  font-size: 1.2rem;
  @media (min-width: 720px) {
    font-size: 1.6rem;
    
  }
}