#cringe-greeting {
  background-image: url('/images/thumbs-up-scaled.png');
  min-height: 720px;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 720px) {
    background-position: calc((720px - 100vw) / 712px * -16rem);
  }

  font-size: 1.8rem;
  margin: 0px auto;
  padding: 1rem;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-areas:
    '. .'
    '. .'
    'glass glass';
  align-content: end;

  @media (min-width: 1080px) {
    grid-template-areas:
      '. .'
      '. glass'
      '. .';

    & > div {
      width: min-content;
      height: unset;
    }
  }

  & > div {
    grid-area: glass;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(10px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    text-align: center;
    height: min-content;
    text-shadow: 2px 2px 4px #000000;
  }

  h1 {
    grid-area: head;
    white-space: nowrap;
    font-size: 1.8rem;
    @media (min-width: 560px) {
      font-size: 3.6rem;
    }
  }

  a {
    appearance: button;
    text-decoration: none;
    vertical-align: middle;
    margin: 0px auto;


    @media (min-width: 720px) {
      width: 16rem;
      height: 8rem;
      font-size: 2.2rem;
      padding-top: 2.5rem;
    }
  }
}

#whyyyyyyyyyy {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding: 1rem;

  @media (min-width: 1024px) {
    justify-content: center;
    align-items: start;
    column-gap: 6rem;
    row-gap: 0.75rem;

    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
  }

  div {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.75rem;

    background: var(--color-surface);
    width: full;
    place-items: center;
    text-align: center;

    border-top: 10px solid;
    border-image: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-accent)
      )
      1;

    @media (min-width: 1024px) {
      grid-row: 1 / 4;
      padding: 2rem;
      height: 100%;

      grid-template-rows: auto auto 1fr;
    }

    svg {
      @media (max-width: 1024px) {
        max-width: 4rem;
        height: auto;
      }
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;

      @media (min-width: 1024px) {
        font-size: 1.6rem;
      }
    }

    span {
      font-size: 1.2rem;
    }
  }
}
