.nav {
  font-size: 2rem;
}

section.spaview:not(.spaactive) {
  display: none !important;
}

#loginView {
  margin: 12rem auto;
  width: 100%;
  max-width: 420px;
  background: var(--color-surface);
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  padding: 1.5rem;
  box-shadow: 0 10px 30px hsla(221, 83%, 20%, 0.08);

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
}

#bookingListView {
  form {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .formfield {
      width: 100%;
    }
  }
}

#bookingListResult {
  margin-top: 2rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);

  grid-auto-rows: 1fr;
  gap: 1.25rem;

  & > div {
    --border-radius: 0.25rem;
    border-radius: var(--border-radius);
    background-color: var(--color-surface);
    padding: 0.75rem 1rem;
    min-width: 12rem;
    width: 100%;
    box-shadow: 0 10px 30px hsla(221, 83%, 20%, 0.08);

    .card-title {
      font-size: 1.6rem;
      font-weight: 600;
      @media (min-width: 720px) {
        font-size: 2rem;
      }
    }

    .card-content {
      display: grid;
      font-size: 1.4rem;
      width: fit-content;

      & > p {
        white-space: nowrap;
      }

      & > p:first-child > strong {
        text-transform: capitalize;
      }
    }
  }
}
